
*{
    margin: 0%;
    padding: 0%;
}



.box{
    width: 400px;
    height: 350px;
    background-color: black;
    position: relative;
    left: 500px;
    top: 130px;
}
#display{
    position: relative;
    left: 60px;
    top: 15px;
    width: 300px;
    height: 20px;
}

input[type=button]{
    
    padding: 25px 40px;
    border-radius: 20px;
    color: white;
    border: none;
    position:relative ;
    left: 30px;
    top: 30px;
    background-color: blueviolet;
}